<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 --><!--
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="\\madcat\storage\Logs\Services\Woolworths\Supermarket\ProductMaster\rolling.log"
        formatter="Text Formatter" rollFileExistsBehavior="Increment"
        traceOutputOptions="None"  filter="Verbose"  />
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="errors@tigerspike.com" fromAddress="Woolworths LIVE Importers error@tigerspike.com"
        subjectLineStarter="Unhandled exception in ProductMaster importer"
        smtpServer="stimpy" formatter="Text Formatter" filter="Error" />
    </listeners>
    <formatters>
      <add xdt:Transform="RemoveAll"></add>
      <add xdt:Transform="Insert" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter" />
    </formatters>
  </loggingConfiguration>
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString"
      connectionString="Data Source=dbc.infra.tigerspike.com;Initial Catalog=Woolworths;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString"
      connectionString="Data Source=dbc.infra.tigerspike.com;Initial Catalog=Woolworths;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <ProductMasterImporter.Properties.Settings>
      <setting name="ArchivePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/archive/</value>
      </setting>
      <setting name="SummaryReportErrorToEmailAddress" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="SummaryReportFromAddressFriendlyName" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Woolworths Importer Errors</value>
      </setting>
      <setting name="FilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/from_wow/</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/configs/ProductDataFormat.txt</value>
      </setting>
      <setting name="FileName" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>SAP_MASTER_PRODUCT_DATA_{0}.TXT</value>
      </setting>
    </ProductMasterImporter.Properties.Settings>
    <TigerSpike.Utilities.Service.ServiceSettings>
      <setting name="ExceptionEmailAddress" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="ServiceName" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>WoW Product Master Data Importer - (SYD-LIVE)</value>
      </setting>
      <setting name="LogPath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>\\madcat\storage\Logs\Services\Woolworths\Supermarket\ProductMaster\{0:yyyyMMdd}_{1}.log</value>
      </setting>
      <setting name="SleepPeriod" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>00:05:00</value>
      </setting>
      <setting name="ErrorSleepPeriod" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>00:05:00</value>
      </setting>

    </TigerSpike.Utilities.Service.ServiceSettings>
    <ImporterBLL.Properties.Settings>
      <setting name="CommandTimeoutInSeconds" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>7200</value>
      </setting>
      <setting name="InitialWaitTimeInSeconds" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>100</value>
      </setting>
      <setting name="FinalTimeOfDayForFileExistCheck" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>11:00:00</value>
      </setting>
      <setting name="MaxAttemptsForDay" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>5</value>
      </setting>
      <setting name="IgnoreFileExistsError"  xdt:Transform="Remove" xdt:Locator="Match(name)">
      </setting>
    </ImporterBLL.Properties.Settings>      
  </applicationSettings>
  
</configuration>-->

<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <!--<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      toAddress="jeremy@tigerspike.com,karim.jlil@tigerspike.com" fromAddress="&quot;Woolworths (UAT) Product Master Importer&quot; error@tigerspike.com"
      subjectLineStarter="An error has occurred. Error level: " subjectLineEnder=""
      smtpServer="smtp.infra.tigerspike.com" smtpPort="25" formatter="Email Formatter"
      authenticationMode="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack"
      filter="Error" />-->
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      toAddress="karim.jlil@tigerspike.com" fromAddress="&quot;Woolworths (SYD-LIVE) Product Master Importer&quot; errors@tigerspike.com"
      subjectLineStarter="An error has occurred. Error level: " subjectLineEnder=""
      smtpServer="smtp.infra.tigerspike.com" smtpPort="25" formatter="Email Formatter"
      authenticationMode="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack"
      filter="Error" />
    </listeners>
  </loggingConfiguration>


  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <ProductMasterImporter.Properties.Settings>
      <setting name="ArchivePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/archive/</value>
      </setting>
      <setting name="SummaryReportErrorToEmailAddress" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>karim.jlil@tigerspike.com</value>
      </setting>
      <setting name="FilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/from_wow/</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String">
        <value>uat/configs/ProductDataFormat.txt</value>
      </setting>
    </ProductMasterImporter.Properties.Settings>
  </applicationSettings>

</configuration>