<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 --><!--
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString" connectionString="Data Source=dbc;Initial Catalog=Woolworths;Integrated Security=True" 
          providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString" connectionString="Data Source=dbc;Initial Catalog=Woolworths;Integrated Security=True" 
         providerName="System.Data.SqlClient" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <applicationSettings>
    <AssortmentImporter.Properties.Settings>
      <setting name="FilePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/from_wow/</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/Archive/</value>
      </setting>
      <setting name="SummaryReportFromAddressFriendlyName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Woolworths (Live) Importer Errors</value>
      </setting>
      <setting name="StagingTableName" serializeAs="String">
        <value>Staging_Assortment</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/configs/AssortmentDataFormat.txt</value>
      </setting>
      <setting name="FileName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>SAP_PRICE_FAMILY_DATA_{0}.txt</value>
      </setting>
    </AssortmentImporter.Properties.Settings>
    <TigerSpike.Utilities.Service.ServiceSettings>
      <setting name="ExceptionEmailAddress" serializeAs="String">
        <value>jeremy@tigerspike.com</value>
      </setting>
      <setting name="ServiceName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>WoW Assortment Importer - (SYD-Live)</value>
      </setting>
      <setting name="LogPath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>\\madcat\storage\Logs\Services\Woolworths\Supermarket\Assortment\{0:yyyyMMdd}_{1}.log</value>
      </setting>
      <setting name="SleepPeriod" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>00:00:05:00</value>
      </setting>
      <setting name="ErrorSleepPeriod" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>00:00:05:00</value>
      </setting>
    </TigerSpike.Utilities.Service.ServiceSettings>
    <ImporterBLL.Properties.Settings>
      <setting name="FinalTimeOfDayForFileExistCheck" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>18:00:00</value>
      </setting>
      <setting name="StartTime" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>03:00:00</value>
      </setting>
    </ImporterBLL.Properties.Settings>
  </applicationSettings>
</configuration>-->
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
    <add xdt:Transform="Insert" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <AssortmentImporter.Properties.Settings >
      <setting name="FilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/from_wow/</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/archive/</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/configs/AssortmentDataFormat.txt</value>
      </setting>
    </AssortmentImporter.Properties.Settings>
  </applicationSettings>
</configuration>