<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProductWebCategoryImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="TigerSpike.Utilities.Service.ServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ImporterBLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="\\madcat\storage\Logs\Services\Woolworths\Supermarket\ProductCategoryStaging\rolling.log"
        formatter="Log Formatter" rollFileExistsBehavior="Increment"
        traceOutputOptions="None" filter="Verbose" />
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="tony.crosby@tigerspike.com" fromAddress="&quot;Woolworths (UAT) Category Importer&quot; error@tigerspike.com"
        subjectLineStarter="An error has occurred. Error level: " subjectLineEnder=""
        smtpServer="stimpy.infra.tigerspike.com" smtpPort="25" formatter="Email Formatter"
        authenticationMode="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack"
        filter="Error" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Email Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Log Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
          <add name="Email Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString"
        connectionString="Data Source=db-uat;Initial Catalog=Woolworths;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <ProductWebCategoryImporter.Properties.Settings>
      <setting name="EmailThreshhold" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="EmailGracefulThreshhold" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="FileThreshhold" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FileGracefulThreshhold" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String">
        <value>\\madcat\Storage\Woolworths\dev\prodwebcategory\archive\</value>
      </setting>
      <setting name="FilePath" serializeAs="String">
        <value>\\madcat\storage\Woolworths\dev\prodwebcategory\</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value>MASTER_WEB_CATEGORY_20110808.csv</value>
      </setting>
      <setting name="SummaryReportErrorToEmailAddress" serializeAs="String">
        <value>tony.crosby@tigerspike.com</value>
      </setting>
      <setting name="SummaryReportFromEmailAddress" serializeAs="String">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="SummaryReportFromAddressFriendlyName" serializeAs="String">
        <value>Woolworths Importer Errors</value>
      </setting>
      <setting name="StagingTableName" serializeAs="String">
        <value>Staging_WebCategory_Category</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String">
        <value>\\madcat\storage\Woolworths\ftp\prod\configs\WebCategoryDataFormat.txt</value>
      </setting>
      <setting name="FileNameDateCheckOffsetDays" serializeAs="String">
        <value>0</value>
      </setting>
    </ProductWebCategoryImporter.Properties.Settings>
    <TigerSpike.Utilities.Service.ServiceSettings>
      <setting name="ExceptionEmailAddress" serializeAs="String">
        <value>tony.crosby@tigerspike.com</value>
      </setting>
      <setting name="ServiceName" serializeAs="String">
        <value>WoW Product Web Category Importer - Dev</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>\\madcat\storage\Woolworths\dev\prodwebcategory\logs\{0:yyyyMMdd}_{1}.log</value>
      </setting>
      <setting name="SleepPeriod" serializeAs="String">
        <value>00:00:00:00</value>
      </setting>
      <setting name="ErrorSleepPeriod" serializeAs="String">
        <value>00:00:01:00</value>
      </setting>
    </TigerSpike.Utilities.Service.ServiceSettings>
    <ImporterBLL.Properties.Settings>
      <setting name="CommandTimeoutInSeconds" serializeAs="String">
        <value>5400</value>
      </setting>
      <setting name="InitialWaitTimeInSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="HigherProcessWaitTimeInSeconds" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="FileWaitTimeInSeconds" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="FinalTimeOfDayForFileExistCheck" serializeAs="String">
        <value>12:00:00</value>
      </setting>
      <setting name="EmailServiceReportOnErrorOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartTime" serializeAs="String">
        <value>07:00:00</value>
      </setting>
      <setting name="FinalWaitTimeInSeconds" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="MaxAttemptsForDay" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SMSRecipient" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>Woolworths2</value>
      </setting>
      <setting name="SendEmailOnInitialFileError" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreFileExistsError" serializeAs="String">
        <value>False</value>
      </setting>
    </ImporterBLL.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
