<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  name="Rolling Flat File Trace Listener"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="\\madcat\storage\Logs\Services\Woolworths\Supermarket\NutritionalInfoStaging\rolling.log" formatter="Log Formatter"
        rollFileExistsBehavior="Increment" traceOutputOptions="None" filter="Verbose"/>

      <!--<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  name="Email Trace Listener"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="jeremy@tigerspike.com, karim.jlil@tigerspike.com" fromAddress="&quot;Woolworths UAT NutritionalInfo Importer&quot; error@tigerspike.com"
        subjectLineStarter="An error has occurred. Error level: " subjectLineEnder="" smtpServer="stimpy.infra.tigerspike.com" smtpPort="25"
        formatter="Email Formatter" authenticationMode="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack" filter="Error"/>-->
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  name="Email Trace Listener"
       type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       toAddress="karim.jlil@tigerspike.com" fromAddress="&quot;Woolworths (SYD-UAT) NutritionalInfo Importer&quot; error@tigerspike.com"
       subjectLineStarter="An error has occurred. Error level: " subjectLineEnder="" smtpServer="stimpy.infra.tigerspike.com" smtpPort="25"
       formatter="Email Formatter" authenticationMode="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack" filter="Error"/>
    </listeners>
  </loggingConfiguration>
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString" connectionString="Data Source=syda-uatwowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <NutritionalInfoImporter.Properties.Settings>
      <setting name="FilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/from_wow/</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/archive/</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/configs/NutritionalInfoDataFormat.txt</value>
      </setting>
    </NutritionalInfoImporter.Properties.Settings>
  </applicationSettings>

</configuration>