<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 --><!--
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="\\madcat.infra.tigerspike.com\storage\Logs\Services\Woolworths\Supermarket\OnlineSellType\rolling.log"
        formatter="Log Formatter" rollFileExistsBehavior="Increment"
        traceOutputOptions="None" filter="Verbose" />
      <add  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="errors@tigerspike.com" fromAddress="&quot;Woolworths LIVE Online Sell Type Importer&quot; error@tigerspike.com"
        subjectLineStarter="An error has occurred. Error level: " subjectLineEnder=""
        smtpServer="stimpy.infra.tigerspike.com" smtpPort="25" formatter="Email Formatter"
        authenticationMode="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack"
        filter="Error" />
      
    </listeners>
  </loggingConfiguration>

  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString" 
        connectionString="Data Source=dbc.infra.tigerspike.com;Initial Catalog=Woolworths;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString"
        connectionString="Data Source=dbc.infra.tigerspike.com;Initial Catalog=Woolworths;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <OnlineSellTypeImporter.Properties.Settings>

      <setting name="FilePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/from_wow/</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/Archive/</value>
      </setting>
      <setting name="SummaryReportErrorToEmailAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="SummaryReportFromEmailAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/configs/OnlineSellTypeDataFormat.txt</value>
      </setting>
      <setting name="SummaryReportFromAddressFriendlyName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Online Sell Type Live Importer Errors</value>
      </setting>
      
    </OnlineSellTypeImporter.Properties.Settings>
    <TigerSpike.Utilities.Service.ServiceSettings>
      <setting name="ExceptionEmailAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="ServiceName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>WoW Online Sell Type Importer - (SYD-LIVE)</value>
      </setting>
      <setting name="LogPath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>\\madcat\storage\Logs\Services\Woolworths\Supermarket\OnlineSellType\{0:yyyyMMdd}_{1}.log</value>
      </setting>
      <setting name="SleepPeriod" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>00:05:00</value>
      </setting>
      <setting name="ErrorSleepPeriod" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>00:05:00</value>
      </setting>
    </TigerSpike.Utilities.Service.ServiceSettings>

    <ImporterBLL.Properties.Settings>
      <setting name="FinalTimeOfDayForFileExistCheck" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>11:00:00</value>
      </setting>
      <setting name="StartTime" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>02:30:00</value>
      </setting>
      <setting name="MaxAttemptsForDay" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>3</value>
      </setting>
    </ImporterBLL.Properties.Settings>
    
  </applicationSettings>
</configuration>-->

<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <OnlineSellTypeImporter.Properties.Settings>
      <setting name="FilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/from_wow/</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/archive/</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/configs/OnlineSellTypeDataFormat.txt</value>
      </setting>
    </OnlineSellTypeImporter.Properties.Settings>
  </applicationSettings>

</configuration>