<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 --><!--
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General"   >
    <listeners>
      <add xdt:Transform="RemoveAll" />
      <add xdt:Transform="Insert" name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="\\madcat\storage\Logs\Services\Woolworths\Supermarket\BonusPoints\rolling.log"
        formatter="Log Formatter" rollFileExistsBehavior="Increment"
        traceOutputOptions="None" filter="Verbose" />
      <add xdt:Transform="Insert" name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="errors@tigerspike.com" fromAddress="&quot;Woolworths LIVE Bonus Points Importer&quot; error@tigerspike.com"
        subjectLineStarter="An error has occurred. Error level: " subjectLineEnder=""
        smtpServer="stimpy.infra.tigerspike.com" smtpPort="25" formatter="Email Formatter"
        authenticationMode="None" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack"
        filter="Error" />
    </listeners>
  </loggingConfiguration>

  <connectionStrings>
    <add name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString"
        connectionString="Data Source=dbc.infra.tigerspike.com;Initial Catalog=Woolworths;Integrated Security=True"
        providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString"
        connectionString="Data Source=dbc.infra.tigerspike.com;Initial Catalog=Woolworths;Integrated Security=True"
        providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>


  <applicationSettings>
    <BonusPointsImporter.Properties.Settings>
      <setting name="FilePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/from_wow/</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/archive/</value>
      </setting>
      <setting name="SummaryReportErrorToEmailAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="SummaryReportFromAddressFriendlyName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>PEL Importer Errors</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/configs/BonusPointsDataFormat.txt</value>
      </setting>
    </BonusPointsImporter.Properties.Settings>
    <TigerSpike.Utilities.Service.ServiceSettings>
      <setting name="ExceptionEmailAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="ServiceName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>WoW BonusPoints Importer - (SYD-Live)</value>
      </setting>
      <setting name="LogPath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>\\madcat\storage\Logs\Services\Woolworths\Supermarket\BonusPoints\{0:yyyyMMdd}_{1}.log</value>
      </setting>

    </TigerSpike.Utilities.Service.ServiceSettings>
    <ImporterBLL.Properties.Settings>
      <setting name="InitialWaitTimeInSeconds" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>300</value>
      </setting>
      <setting name="FinalTimeOfDayForFileExistCheck" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>09:00:00</value>
      </setting>
      <setting name="StartTime" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <value>02:30:00</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Woolworths</value>
      </setting>
      <setting name="MaxAttemptsForDay" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>3</value>
      </setting>
      <setting name="DaysToRun" serializeAs="String" xdt:Transform="Insert" xdt:Locator="Match(name)">
        <value>1</value>
      </setting>
    </ImporterBLL.Properties.Settings>
  </applicationSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>


</configuration>-->
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General"   >
    <listeners>
      <add xdt:Transform="RemoveAll" />
      <add xdt:Transform="Insert" name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="\\madcat\storage\Logs\Services\Woolworths\Supermarket\BonusPointsStaging\rolling.log"
        formatter="Log Formatter" rollFileExistsBehavior="Increment"
        traceOutputOptions="None" />
    </listeners>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add xdt:Transform="RemoveAll" />
          <add xdt:Transform="Insert" name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
  </loggingConfiguration>
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <BonusPointsImporter.Properties.Settings>
      <setting name="FilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/from_wow/</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/archive/</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/configs/BonusPointsDataFormat.txt</value>
      </setting>
    </BonusPointsImporter.Properties.Settings>
    
  </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>