<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 --><!--
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="applicationSettings" >
      <section xdt:Transform="Insert"   name="TigerSpike.Utilities.Service.ServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section xdt:Transform="Insert"   name="ImporterBLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="\\madcat\storage\Logs\Services\Woolworths\Supermarket\RecipePEL\rolling.log"
        formatter="Log Formatter" rollFileExistsBehavior="Increment"
        traceOutputOptions="None" filter="Verbose"/>
    </listeners>
   </loggingConfiguration>

  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString"
        connectionString="Data Source=dbc.infra.tigerspike.com;Initial Catalog=Woolworths;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString"
        connectionString="Data Source=dbc.infra.tigerspike.com;Initial Catalog=Woolworths;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <RecipePELImporter.Properties.Settings>
      <setting name="SummaryReportErrorToEmailAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/Archive/</value>
      </setting>
      <setting name="FilePath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>prod/from_wow/</value>
      </setting>
      <setting name="FeaturedFileNameDateCheckOffsetDays" serializeAs="String" xdt:Transform="Insert">
        <value>0</value>
      </setting>
    </RecipePELImporter.Properties.Settings>
    <TigerSpike.Utilities.Service.ServiceSettings xdt:Transform="Insert">
      <setting name="ExceptionEmailAddress" serializeAs="String">
        <value>errors@tigerspike.com</value>
      </setting>
      <setting name="ServiceName" serializeAs="String">
        <value>WoW Recipe PEL Importer - (SYD-Live)</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>\\madcat\storage\Logs\Services\Woolworths\Supermarket\RecipePEL\{0:yyyyMMdd}_{1}.log</value>
      </setting>
      <setting name="SleepPeriod" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="ErrorSleepPeriod" serializeAs="String">
        <value>00:05:00</value>
      </setting>
    </TigerSpike.Utilities.Service.ServiceSettings>
    <ImporterBLL.Properties.Settings xdt:Transform="Insert">
      <setting name="MaxAttemptsForDay" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="CommandTimeoutInSeconds" serializeAs="String">
        <value>14400</value>
      </setting>
      <setting name="InitialWaitTimeInSeconds" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="HigherProcessWaitTimeInSeconds" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="FileWaitTimeInSeconds" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="FinalTimeOfDayForFileExistCheck" serializeAs="String">
        <value>20:00:00</value>
      </setting>
      <setting name="EmailServiceReportOnErrorOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartTime" serializeAs="String">
        <value>12:00:00</value>
      </setting>
      <setting name="FinalWaitTimeInSeconds" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="SMSRecipient" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>Woolworths</value>
      </setting>
      <setting name="SendEmailOnInitialFileError" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreFileExistsError" serializeAs="String">
        <value>True</value>
      </setting>
    </ImporterBLL.Properties.Settings>
  </applicationSettings>
</configuration>-->

<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="applicationSettings" >
      <section xdt:Transform="Insert"   name="TigerSpike.Utilities.Service.ServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section xdt:Transform="Insert"   name="ImporterBLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <loggingConfiguration >
    <listeners>
      <add xdt:Transform="RemoveAll" ></add>
      <add xdt:Transform="Insert"  name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="\\madcat\storage\Logs\Services\Woolworths\Supermarket\RecipePELStaging\rolling.log"
      formatter="Log Formatter" rollFileExistsBehavior="Increment"
      traceOutputOptions="None" />
    </listeners>
    <categorySources>
      <add >
        <listeners>
          <add xdt:Transform="RemoveAll" ></add>
          <add xdt:Transform="Insert" name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
  </loggingConfiguration>

  <connectionStrings>
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.WoolworthsConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
    <add  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="WoolworthsDAL.Properties.Settings.Woolworths2ConnectionString" connectionString="Data Source=syda-wowsql;User Id=IUSR_Importers;Password=S8qdsPY3vWLs;Initial Catalog=Woolworths" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <applicationSettings>
    <RecipePELImporter.Properties.Settings>
      <setting name="FilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/from_wow/</value>
      </setting>
      <setting name="ArchivePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat/archive/</value>
      </setting>
      <setting name="FormatFilePath" serializeAs="String"  xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value></value>
      </setting>
    </RecipePELImporter.Properties.Settings>
  </applicationSettings>


</configuration>